.header {
  display: flex;
  width: 100%;
  background-color: var(--main-color-4);
  border-bottom: solid 1px #ebebeb;
  height: 4rem;
  align-items: center;
  z-index: 2;
  position: fixed;
  /*box-shadow: var(--box-shadow-1);*/
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;

}

.header ul li {
  /*background-color: green;*/
  padding: .5rem 1rem;
  font-weight: 600;
  align-items: center;
  align-content: center;
  opacity: .6;
}

.header ul li i {
  padding: .25rem;
  font-size: 1.35rem;
}

.header .link-active {
  opacity: 1 !important;
}

.header .link-active i {
  color: var(--main-color-1);
}

.header .input-src-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.header .input-src-wrapper .icon-search {
  position: absolute;
  left: .35rem;
}

.header .input-src-wrapper .icon-search i {
  font-size: 85%;
}

.header .input-src-wrapper input {
  border: 0;
  background-color: #F6F6F6;
  padding: .25rem 0.5rem .25rem 1.75rem;
  height: 35px;

}
