<div class="card-item" [ngClass]="{'card-open':(openAll), 'card-focus':(focusCard)}" (click)="toggleCard()">
  <div class="card-top">
    <div class="title">{{data.title}}</div>
    <div class="tag">
      <span *ngFor="let tag of data.tag">{{tag}}</span>
    </div>
  </div>
  <div class="card-bottom a-center" >
    <div class="members">
      <div *ngFor="let member of data.members" class="member-item">
        <img class="avatar" [src]="member.img" [alt]="member.name">
      </div>
    </div>
    <div class="card-date">
       <span>{{data.date}}</span>
    </div>
    <div class="card-description" *ngIf="openAll">
      {{data.description}}
    </div>
  </div>
</div>
