/* You can add global styles to this file, and also import other style files */
:root {
  --main-color-1: #237BFF;
  --main-color-2: #F6F6F6;
  --main-color-3: #FCFBFC;
  --main-color-4: white;
  --main-color-5: #1a1a1a;
  --main-color-6: #F8BB65;
  --main-color-7: #CDD1D6;
  --font-family-1: 'Poppins', sans-serif;
  --font-size-1: 1rem;
  --font-size-2: 1.5rem;
  --box-shadow-1: 20px 20px 60px #bebebe,
  -20px -20px 60px #ffffff;
  --box-shadow-2: 31px 31px 60px #bebebe,
  -31px -31px 60px #ffffff;
  --box-shadow-3: rgba(149, 157, 165, 0.2) 0px 8px 24px;;
  --border-radius-1: .5rem;
  --border-radius-2: .25rem;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: var(--main-color-3);
  font-family: var(--font-family-1);
  font-size: var(--font-size-1);
}

textarea:focus, input:focus {
  outline: none;
}

button:disabled {
  opacity: .5;
}

.d-flex {
  display: flex;
}


.a-center {
  align-items: center;
  align-content: center;
}
